<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%="http://source.unsplash.com/featured/?movie&#{rand(1000)}"%>;">
    <div class="container">
      <h1><%= @list.name %></h1>
      <%= link_to "Bookmark", new_list_bookmark_path(@list), class: "btn btn-flat" %>
      <%= link_to "Back", lists_path, class: "btn btn-flat" %>
    </div>
  </div>
  <hr>

  <h3>Bookmarks</h3>
  <hr>
  <div class="container">
    <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.comment %></p>
    <p>Movie: <%= bookmark.movie.title %></p>
    <%= image_tag "#{bookmark.movie.poster_url}", alt: "#{bookmark.movie.title}", width: 200 %>


    <hr>
    <% end %>
  </div>
</div>
